.nav {
  margin-left: 10px;
}
.add {
  float: right;
}
.container {
  justify-content: center;
  align-items: center;
}
.tabl {
  margin-top: 20px;
}
.head{
    font-weight: 600;
    
}
.cut{
  color: rgb(102, 31, 31);
}
.cut:hover{
  cursor: pointer;
}
